.door{
    width: 355px;
    height: 500px;
    margin: 60px 400px;
    background-image: url(./Pictures/Wallpaper.jpg);
    background-size: cover;
    width: 30vh;
}

.singledoor{
    width: 355px;
    height: 500px;
    background-color: ivory;
    border: 2px solid #FAB005;
    cursor: pointer;
    transition: transform 4s ease;
}

.singledoor.open {
    transform: rotateY(80deg);
}

.lefthandle{
    position: relative;
    bottom: 170px;
    right: 160px;
}

.top-left{
    width: 150px;
    height: 150px;
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}

.top-right{
    width: 150px;
    height: 150px;
    position: relative;
    left: 50px;
    transform: rotateX(180deg) rotateZ(180deg);
}

.bottom-left{
    width: 150px;
    height: 150px;
    position: relative;
    top: 190px;
    transform: rotateY(180deg) rotateZ(180deg);
}

.bottom-right{
    width: 150px;
    height: 150px;
    position: relative;
    top: 190px;
    left: 50px;
    transform: rotateX(180deg) rotateY(180deg);
}

.single-flower{
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 150px;
    left: 100px;
}

.des{
    color: rgb(199, 197, 197);
    position: relative;
    bottom: 330px;
    left: 60px;
}

#dialogueBox{
    width: 250px;
    height: 100px;
    text-align: center;
    display: none; 
    position: fixed; 
    top: 250px; 
    left: 500px; 
    transform: translate(-50%, -50%); 
    background-color: #fff; 
    padding: 20px; 
    border: 2px solid #FAB005; 
    border-radius: 10px; 
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.487);
}

a{
    color: black;
}

a:active{
    color: #FAB005;
}
